<h2>Sign up</h2>

<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |message|%>
      <%=message%>
    <%end%>
  <%end%>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Create post" %>
  </div>
<% end %>
